* {
    border: 0 solid transparent;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }

  header {
    border: 1px solid red;
    background-color: #4d2323;
  }

  main {
    border: 1px solid red;
    padding: 20px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;

    border: 1px solid red;
    background-color: #4d2323;
  }

  .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }

  .section-item a {
    color: #828499;
    text-decoration: none;  
    transition: color 0.5s;
  }

  .section {
    width: 50%;
  }

  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #828499;
  }

  a {
    text-decoration: none;
    color: #829984;
    transition: color 0.5s;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }